.theme-dark {
	--Gray100: #0a0a0e;
	--Gray200: #111219;
	--Gray300: #161720;
	--Gray400: #1d1f2b;
	--Gray500: #232534;
	--Gray600: #282a3b;

	--Gray700: #6c708d;
	--Gray800: #7f83a2;
	--Gray900: #969ab3;
	--Gray1000: #afb2c5;
	--Gray1100: #cbcdd9;
	--Gray1200: #e3e4eb;
	--Gray1300: #f7f8fa;
}
  