.theme-light {
	--Gray100: #fdfdfe;
	--Gray200: #e6e7ed;
	--Gray300: #cfd1dd;
	--Gray400: #b9bccd;
	--Gray500: #a3a7bd;
	--Gray600: #8d92ad;
	--Gray700: #797e9c;
	--Gray800: #666a86;
	--Gray900: #545870;
	--Gray1000: #42465b;
	--Gray1100: #303446;
	--Gray1200: #222433;
	--Gray1300: #13141c;
}
