// .workspace-leaf-resize-handle,
// .workspace-tab-header-container-inner {
// 	display: none;
// }

.plugin-sync {
  order: 1; // Ensures sync icon is always at the end of the flex container
}

body {
  --scrollbar-thumb-bg: var(--gray-100);
  --scrollbar-active-thumb-bg: var(--gray-200);
  --nav-item-background-hover: var(--gray-100);
}

.search-result-file-matched-text {
  color: var(--gray-50);
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 2px;
}
