body {
    --code-radius: var(--radius-m)
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    padding-inline-start: var(--size-4-6)
}

.cm-line.HyperMD-codeblock .code-block-flair {
    color: var(--text-faint);
}

span.cm-inline-code {
    --code-background: var(--gray-200);
    --code-radius: var(--radius-s);
    padding-left: var(--size-2-2) !important;
    padding-right: var(--size-2-2) !important;
}