.theme-dark {
    --nav-item-color-active: var(--gray-700);
    --nav-item-background-active: var(--gray-100);
    --modal-border-color: var(--gray-200)
}

// .vertical-tab-header {
//     box-shadow: 4px 400px 160px var(--gray-50) inset !important ;
// }

.nav-file-title.is-active {
    // IDEA: maybe add a specific indicator for active file?
    // &::before {
    //     content: '->';
    //     width: 16px;
    //     height: 16px;
    //     position: absolute;
    //     left: var(--size-2-3);
    //     color: var(--gray-400);
    // }
}

.sidebar-toggle-button.mod-left {
    border-right: 1px solid var(--divider-color);
}

.nav-files-container {
    padding: var(--size-4-2);
}

.tag-container {
    padding: var(--size-4-2);
}

.outgoing-link-pane {
    padding: var(--size-4-2);
}

.workspace-leaf-content .view-content {
    padding: var(--size-4-2);
}

.workspace-leaf-content[data-type='outline'] .view-content {
    padding-top: var(--size-4-2);
}

.is-flashing {
    color: var(--text-inverse);
    padding: 0 4px;
}

.theme-dark {
    --interactive-normal: var(--gray-100);
    --interactive-hover: var(--gray-200);
    // --interactive-accent: var(--sea-green-600);
    // --interactive-accent-hover: var(--sea-green-600);
    // --text-on-accent: var(--gray-25);
    --input-font-weight: 600;
    --checkbox-border-color: var(--gray-300)
}
.HyperMD-task-line[data-task="x"] {
    color: var(--gray-400) !important;
}
.theme-light {
    --interactive-normal: var(--gray-25)
}
// .workspace-tab-header-container {
//     transition: height 200ms ease;
//     height: 6px;
//     > * {
//         opacity: 0;
//         transition: opacity 200ms ease;
//     }
//     &:hover {
//         > * {
//             opacity: 1;
//         }

//         height: var(--header-height);
//     }
// }

// .workspace-tab-header-container-inner {
//     margin: 0 !important;
//     padding: var(--size-2-2) !important;
// }

// body {
//     --tab-container-background: var(--gray-50)
// }

.sidebar-toggle-button {
    min-width: 40px;
}